
table thead th{
	background: #63A9D2;
	color: #FFF;
	padding:5px !important;
}
/*table tbody td{
	padding:5px !important;
}*/

/* header custom */
.skin-blue .main-header .navbar {
    background-color: #ECF0F5;
}
.skin-blue .main-header .navbar .sidebar-toggle {
    color: #000;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #CCC;
    color:#000;
}
.skin-blue .main-header .navbar .nav>li>a {
    color: #000;
}
.skin-blue .main-header .navbar .nav>li>a:hover {
   color: #000;
}
.skin-blue .main-header .navbar .nav>li>a:focus {
   color: #000;
}
.skin-blue .main-header .navbar .nav>li>a:hover, .skin-blue .main-header .navbar .nav>li>a:active, .skin-blue .main-header .navbar .nav>li>a:focus, .skin-blue .main-header .navbar .nav .open>a, .skin-blue .main-header .navbar .nav .open>a:hover, .skin-blue .main-header .navbar .nav .open>a:focus, .skin-blue .main-header .navbar .nav>.active>a {
    color: #000;
}
.skin-blue .main-header .logo {
    background-color: #222D32;
}
.skin-blue .main-header .logo:hover {
    background-color: #CCC;
    color: #000;
}
.skin-blue .main-header li.user-header {
    background-color: #f3f3f3;
    color:#000;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
	color:#000;
}

/*LOGIN PAGE*/

.login-page, .register-page {
    background: #f3f3f3;
}

.login-box-body, .register-box-body {
    background: transparent;
}

/* /////////////////////////// NOTIFICATIONS AND EVENTS ////////////////////////////////// */

a {
    color: #5A738E;
    text-decoration: none;
}

a,
a:visited,
a:focus,
a:active,
:visited,
:focus,
:active,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: 0;
}

a:hover,
a:focus {
    text-decoration: none
}




/* *********  custom accordion  **************************** */


h2 {
    font-size: 18px;
    font-weight: 400;
}


/* *********  notifications  **************************** */
/* Pnotify by Hunter Perrin :: 2.0.1 */
.ui-pnotify {
    top: 25px;
    right: 25px;
    position: absolute;
    height: auto;
    /* Ensures notices are above everything */
    z-index: 9999;
   /* width: 500px !important;*/
}
/* Hides position: fixed from IE6 */

html > body > .ui-pnotify {
    position: fixed;
}

  .ui-pnotify .ui-pnotify-shadow {
      -webkit-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
      -moz-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
      box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
  }

.ui-pnotify-container {
    background-position: 0 0;
    padding: .8em;
    height: 100%;
    margin: 0;
}

.ui-pnotify-sharp {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.ui-pnotify-title {
    display: block;
    margin-bottom: .4em;
    margin-top: 0;
}

.ui-pnotify-text {
    display: block;
    font-size: 15px;
}

.ui-pnotify-icon,
.ui-pnotify-icon span {
    display: block;
    float: left;
    margin-right: .2em;
}
/* Alternate stack initial positioning. */

.ui-pnotify.stack-topleft,
.ui-pnotify.stack-bottomleft {
    left: 25px;
    right: auto;
}

.ui-pnotify.stack-bottomright,
.ui-pnotify.stack-bottomleft {
    bottom: 25px;
    top: auto;
}

.ui-pnotify-closer,
.ui-pnotify-sticker {
    float: right;
    margin-left: .2em;
}
/* theming */

.alert-success {
    color: #ffffff;
    background-color: rgba(57, 204, 136, 0.92) !important;
    border-color: rgba(57, 204, 136, 0.92) !important;
}

.alert-default {
    color: #FFF;
    background-color: #69ABE1 !important;
    border-color: #69ABE1 !important;
}

.alert-success:hover{
    color: #ffffff;
    background-color: rgb(63, 193, 133) !important;
    border-color: rgb(63, 193, 133) !important;
}

.alert-info {
    color: #E9EDEF;
    background-color: rgba(52, 152, 219, 0.88)!important;
    border-color: rgba(52, 152, 219, 0.88)!important;
}
.alert-info:hover {
    color: #E9EDEF;
    background-color: rgb(52, 152, 219)!important;
    border-color: rgb(52, 152, 219)!important;
}
.alert-warning {
    color: #E9EDEF;
    background-color: rgba(243, 156, 18, 0.88);
    border-color: rgba(243, 156, 18, 0.88);
}

.alert-danger,
.alert-error {
    color: #E9EDEF;
    background-color: rgba(231, 76, 60, 0.88);
    border-color: rgba(231, 76, 60, 0.88);
}

.alert-dark,
.btn-dark {
    color: #E9EDEF;
    background-color: rgba(52, 73, 94, 0.88);
    border-color: rgba(52, 73, 94, 0.88);
}

.btn-dark:hover {
    color: #F7F7F7;
}
/* /theming */
/* /Pnotify by Hunter Perrin :: 2.0.1 */

.btn.btn-outline {
    background: transparent;
}

.btn-primary.btn-outline {
    color: #1A82C3;
    border-width: 2px;
}

.btn-default.btn-outline {
    color: #34495e;
    border-width: 2px;
}

.btn-success.btn-outline {
    color: #1ABB9C;
    border-width: 2px;
}

.btn-info.btn-outline {
    color: #34495e;
    border-width: 2px;
}

.btn-warning.btn-outline {
    color: #5bc0de;
    border-width: 2px;
}

.btn-danger.btn-outline {
    color: #34495e;
    border-width: 2px;
}

.btn-dark.btn-outline {
    color: #c0392b;
    border-width: 2px;
}

.btn-warning {
    background: #f0ad4e;
    border-color: #f0ad4e;
}

.btn-danger {
    background: #d9534f;
    border-color: #d9534f;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #1A82C3;
    border-color: #1A82C3;
    color: #FFFFFF;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    background-color: #1ABB9C;
    border-color: #1ABB9C;
    color: #FFFFFF;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
    background-color: #4FB5D3;
    border-color: #4FB5D3;
    color: #FFFFFF;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
    background-color: #d58512;
    border-color: #d58512;
    color: #FFFFFF;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #1479B8;
    border-color: #1479B8;
    color: #FFFFFF;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    background-color: #d43f3a;
    border-color: #d43f3a;
    color: #FFFFFF;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
    background-color: #394D5F;
    border-color: #394D5F;
    color: #FFFFFF;
}

.custom-notifications {
    position: fixed;
    margin: 15px;
    right: 0;
    float: right;
    width: 400px;
    z-index: 4000;
    bottom: 0;
    padding-bottom:20px;
}

.btn-round {
    border-radius: 30px;
}
/* *********  /notifications  **************************** */
/* *********  /cropping  **************************** */
/* *********    **************************** */
/* *********    **************************** */
/* *********    **************************** */
/* *********    **************************** */
/* *********    **************************** */
/* *********    **************************** */
/* *********    **************************** */
/* *********    **************************** */

ul.notifications {
    float: right;
    display: block;
    margin-bottom: 7px;
    padding: 0;
    width: 100%;
}

.notifications li {
    float: right;
    margin: 3px;
    width: 36px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.notifications li:last-child {
    margin-left: 0;
}

.notifications a {
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 9px 8px;
}

.tabbed_notifications .text {
    padding: 5px 15px;
    padding-bottom:5px;
    border-radius: 0px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
}

.tabbed_notifications div p {
    display: inline-block;
}

.tabbed_notifications h2 {
    font-weight: bold;
    text-transform: uppercase;
    width: 80%;
    float: left;
    height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

.tabbed_notifications .close {
    padding: 5px;
    color: #E9EDEF;
    float: right;
    opacity: 1;
}

/*MODAL CUSTOM*/

.modal-header{
    background : #F3f3f3;
}
.modal-footer{
    background : #F3f3f3;
}

/* EDND MODAL CUSTOM */

button.DTTT_button,
div.DTTT_button,
a.DTTT_button {
    border-radius : 0px !important;
    box-shadow : none !important;
    background: #CCC !important;
    color : #000 !important;
    border: none;
}

button.DTTT_button:hover,
div.DTTT_button:hover,
a.DTTT_button:hover {
    
    border: none!important;
    /*background:#2578A9!important;*/
}

/* FILE EXTENSIONS COLOR */

.text-excel{
    color: #1f6e43 !important;
}
.text-docx{
    color:#3c8dbc;
}
.text-ppt{
    color:#d14424;
}
.text-pdf{
    color:#d70a0a;
}

/* CUSTOM SCROLLBAR*/
body ::-webkit-scrollbar {
    height: 7px;
    width:7px;
}
body ::-webkit-scrollbar-thumb {
    background: #CCC;
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

/* CUSTOM TABS*/
.nav.nav-tabs li.active a{
    border-right:5px solid #CCC;
}

/* ATTACHMENTS */

.attachment {
    margin-top: 30px;
}

.attachment ul {
    width: 100%;
    list-style: none;
    padding-left: 0;
    display: inline-block;
    margin-bottom: 30px;
}

.attachment ul li {
    float: left;
    width: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.attachment ul li img {
    height: 150px;
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 10px;
}

.attachment ul li span {
    float: right;
}

.attachment .file-name {
    float: left;
}

.attachment .links {
    width: 100%;
    display: inline-block;
}

/*BADGE*/
.badge{
    background: rgb(99, 169, 210);
}

.DTTT_button.DTTT_button_print,.DTTT_button.DTTT_button_csv,.DTTT_button.DTTT_button_copy{
    /*display: none!important;*/
}